services:
  landing-page:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Penting agar Hot Reload jalan di Docker
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true